body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background: #1f2937;
}

nav ul {
    display: flex;
    gap: 1rem;

    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    max-width: 900px;
}

.hero p {
    max-width: 700px;
    line-height: 1.6;
    font-size: 1.2rem;
}